<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        * {
            box-sizing: border-box;
            margin: 0;
            padding: 0;
        }

        body {
            font-family: Arial, sans-serif;
            background-color: #f2f2f2;
            display: flex;
            align-items: center;
            justify-content: center;
            height: 100vh;
            background-image: url(https://images.pexels.com/photos/4815952/pexels-photo-4815952.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
            background-size: cover;
        }

        .loginContainer {
            max-width: 400px;
            padding: 20px;
            background-color: #fff;
            border-radius: 5px;
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
        }

        h1 {
            text-align: center;
            margin-bottom: 20px;
        }

        .inputContainer {
            position: relative;
            margin-bottom: 15px;
        }

        input {
            width: 100%;
            padding: 10px;
            border: 1px solid #ccc;
            border-radius: 4px;
            font-size: 16px;
        }

        label {
            position: absolute;
            top: 50%;
            left: 10px;
            transform: translateY(-50%);
            color: #777;
            pointer-events: none;
            transition: 0.3s;
        }

        input:focus + label,
        input:not(:placeholder-shown) + label {
            top: 0;
            transform: translateY(-50%);
            font-size: 12px;
            color: #333;
            background-color: #fff;
            padding: 0 5px;
        }

        button {
            display: block;
            width: 100%;
            padding: 10px;
            background-color: #4CAF50;
            color: #fff;
            border: none;
            border-radius: 4px;
            font-size: 14px;
            cursor: pointer;
        }

        button:hover {
            background-color: #45a049;
        }
    </style>
</head>

<body>
    <div class="loginContainer">
        <form id="loginBurdeos">
            <h1>Iniciar Sesi칩n</h1>
            <div class="inputContainer">
                <input type="text" id="email" placeholder=" " name="email" required>
                <label for="email">Correo Electr칩nico</label>
            </div>
            <div class="inputContainer">
                <input type="password" id="pass" placeholder=" " name="pass" required>
                <label for="pass">Contrase침a</label>
            </div>
            <button>Iniciar Sesi칩n</button>
        </form>
    </div>
    <script src="js/veri.js"></script>
</body>

</html>
